<!---{% if tasks_list %}
    <ul>
    {% for task in tasks_list %}
        <li><a href="/atl/{{ task.id }}/">{{ task.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} --->
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
        {% render_table task_list %}
    </body>
</html>
